<a href="https://colab.research.google.com/github/YG-0/Datascience_assisgnments/blob/main/Assignment3_Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from scipy import stats

In [10]:
df = pd.read_csv("/content/BuyerRatio.csv")

In [11]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [12]:
stats.norm.cdf(0.05,loc=98,scale=45)-stats.norm.cdf(0.05,loc=433,scale=99)

0.014746602526182578